<form [formGroup]="formGroup" (submit)="formSubmit()">
    <div class="inputs-plc">
        <mat-form-field class="example-full-width">
            <mat-label>URL i fotos</mat-label>
            <input formControlName="imgUrl" matInput placeholder="URL i fotos">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Cmimi</mat-label>
            <input type="number" formControlName="price" matInput placeholder="Cmimi">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Nr i Dhomave</mat-label>
            <input type="number" formControlName="roomsNr" matInput placeholder="Nr i Dhomave">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>M2</mat-label>
            <input type="number" formControlName="m2" matInput placeholder="M2">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Adresa</mat-label>
            <input formControlName="address" matInput placeholder="Adresa">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Pershkrimi</mat-label>
            <input formControlName="description" matInput placeholder="Pershkrimi">
          </mat-form-field>
    </div>

    <div class="buttons">
        <a routerLink="/account/products" type="button" mat-raised-button>Anulo</a>
        <button mat-raised-button color="primary">Shto</button>
    </div>
</form>