<div class="header-fixed">

  <div class="left-side">
    <div class="logo-plc">
      <a href="#">
        <img src="{{logoUrl}}" />
      </a>
    </div>
  </div>

  <div class="right-side">
    <div class="profile-avatar">
      <div class="open-menu">
        <p>{{tokenData.username}}</p>
        <div class="image" [matMenuTriggerFor]="menu"  [ngStyle]="{ 'background-image': 'url(' + avatarUrl + ')'}"></div>
      </div>
      <mat-menu #menu="matMenu">
        <button [routerLink]="resetPassword" mat-menu-item>Ndrysho Passwordin</button>
        <button mat-menu-item (click)="logOut()">Dil</button>
      </mat-menu>
    </div>
  </div>

</div>
