@import '~src/scss/theme';

:host {
  display: flex;
  flex: 1;
  min-height: 100%;
}

.product-details {
  background-color: white;
  border-radius: 5px;
  width: 100%;
  padding: 30px;
  margin-top: 30px;
}

.slider {
  width: 700px;
  border-radius: 3px;
  overflow: hidden;

  img, video {
    width: 100%;
    height: 100%;
  }

  video {
    height: auto;
  }
}

::ng-deep {
  .swiper-button-next, .swiper-button-prev {
    background-color: rgba(0,0,0,0.7);
    height: 60px;
    width: 45px;

    &::after {
      color: white;
    }
  }

  .swiper-pagination-bullet-active {
    background: white;
  }
}

.details {
  padding-left: 15px;
  width: calc(100% - 700px);

  h3 {
    color: $secondary;
  }

  .option {
    margin: 5px 0;
  }

  .title, .value {
    font-size: 16px;
  }

  .title {
    color: $primary;
    padding-right: 10px;
  }

  .value {
    color: $secondary;
  }
}
.product-title {
  color: $primary;
}

.description {
  h3 {
    color: $secondary;
  }
}

@media screen and (max-width: 1000px) {
  .slider {
    width: 400px;
  }

  .details {
    width: calc(100% - 400px);
  }
}

@media screen and (max-width: 700px) {
  .slider-details {
    flex-direction: column;
  }

  .wrapper {
    padding: 0;
  }

  .slider {
    width: 600px;
    margin:0 auto;
  }

  .details {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .slider {
    width: 425px;
  }
}

@media screen and (max-width: 450px) {
  .slider {
    width: 325pxpx;
  }
}