@import '~src/scss/theme';

:host {
  width: 100%;
  z-index: 99;
  position: fixed;
}

.header-fixed {
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  height: 60px;
  -webkit-box-shadow: 0 7px 30px -14px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 7px 30px -14px rgba(0,0,0,0.75);
  box-shadow: 0 7px 30px -14px rgba(0,0,0,0.75);
  background-color: white;
}

.open-menu {
  font-weight: 500;
}

a {
  margin-right: 37px;
  border: none;
  font-weight: 500;
}

.left-side {
  display: flex;
}

.logo-plc {
  display: flex;
  align-items: center;

  img {
    max-width: 150px;
  }
}

.right-side {
  display: flex;
  align-items: center;

  nav {
    display: flex;
    align-items: center;

    a {
      margin-right: 45px;
    }
  }
}
