<div class="header-fixed">

  <div class="left-side">
    <div class="logo-plc">
      <a href="#">
        <img src="{{logoUrl}}" />
      </a>
    </div>
  </div>

  <div class="right-side">
    <div class="links">
      <a routerLink="/">Home</a>
      <a (click)="routeToDetails(null)">Te Gjitha</a>
      <a (click)="routeToDetails(false)">Ne Qira</a>
      <a (click)="routeToDetails(true)">Ne Shitje</a>
      <a routerLink="/contact-us">Kontakti</a>
      <a routerLink="/about-us">Rreth Nesh</a>
    </div>
  </div>

</div>
