<div class="header-fixed" [ngClass]="user ? 'header-user' : ''">

  <div class="left-side">
    <div class="logo-plc">
      <a href="#">
        <img src="{{logoUrl}}" />
      </a>
    </div>
  </div>

  <div class="right-side">
    <div class="links">
      <a routerLink="/">Home</a>
      <a (click)="routeToDetails(null)">Produktet</a>
      <a routerLink="/contact-us">Kontakti</a>
      <a routerLink="/about-us">Rreth Nesh</a>
      <a *ngIf="user" routerLink="/contact-list">Lista e Kontakteve</a>

      <button color="primary" *ngIf="user" mat-raised-button [matMenuTriggerFor]="menu">Admin</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logOut()">Log Out</button>
      </mat-menu>
    </div>
  </div>

</div>
