@import "~src/scss/theme";

:host {
  display: flex;
  flex: 1;
}

.return-book {
  background-color: red;
  padding: 10px 15px;
  position: absolute;
  left: 0;
  right: 0;
  top: 60px;
  z-index: 9;

  p {
    color: white;
  }
}
