@import "~src/scss/theme";

:host {
    display: flex;
    flex: 1;
}
.home-plc {
    width: 100%;
}

.background-image {
  height: 500px;
}

.no-prods {
  color: $secondary;
}

app-home-banner-titles {
  padding-top: 100px;
}

.slider-wrapper {
  width: 1400px;
  margin: 0 auto;
}

.spinner {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.image {
    height:100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 30px;
    background-position: center;
}

.shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
}

.slider {
    padding: 30px 0 0 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;

    &:last-of-type {
        padding: 0;
    }

    .title {
        font-weight: 500;
        font-size: 20px;
        margin: 15px;
        text-align: center;
    }

    .carousel {
        width: 100%;
    }
}

app-filters {
  position: absolute;
  top: 300px;
  left: 10%;
  right: 10%;

  &::ng-deep {
    p, label {
      color: white;
    }

    .filter-title {
      display: none;
    }
  }
}


@media screen and (max-width: 1000px) {
  app-filters {
    left: 1%;
    right: 1%;
  }

}


@media screen and (max-width: 900px) {
  app-filters {
    display: none;
  }
}

@media screen and (max-width: 800px){

  .background-image {
    height: 250px;
  }

  app-home-banner-titles {
    padding-top: 0;
  }

  .image {
    &::ng-deep {
      .ms-header__title {
        font-size: 3rem;
        padding-top: 70px;
      }
    }
  }
}

::ng-deep .product-card .wrapper {
  width: 100% !important;
}

@media screen and (max-width: 1450px){
  .slider-wrapper {
    width: 1200px;
    margin: 0 auto;
  }
}


@media screen and (max-width: 1200px){
  .slider-wrapper {
    width: 1000px;
  }

  ::ng-deep .product-card * {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 1000px){
  .slider-wrapper {
    width: 800px;
  }
}


@media screen and (max-width: 800px){
  .slider-wrapper {
    width: 600px;
  }
}


@media screen and (max-width: 600px){
  .slider-wrapper {
    width: 400px;
  }
}

@media screen and (max-width: 600px){
  .image {
    &::ng-deep {
      .ms-header__title {
        font-size: 2rem;
      }
    }
  }
}
