<div class="home-plc">
    <div class="background-image">
        <div class="image">
            <div class="shadow"></div>
            <app-home-banner-titles></app-home-banner-titles>

          <app-filters></app-filters>

        </div>
    </div>

    <div *ngIf="!sellingProducts.length && !rentProducts.length">
        <h3 class="mt-5 ml-5">Per momentin nuk kemi produkte!</h3>
    </div>

    <div class="slider" *ngIf="rentProducts.length">
        <p class="title">Objekte ne Qira</p>

        <carousel style="height:320px" class="carousel" [autoplay]="true" [loop]="true" [cellsToScroll]="32" [cellsToShow]="3" [autoplayInterval]="3000">
            <div class="carousel-cell" *ngFor="let rentProd of rentProducts">
                <app-product-card [product]="rentProd"></app-product-card>
            </div>
        </carousel>
    </div>

    <div class="slider" *ngIf="sellingProducts.length">
        <p class="title">Objekte ne Shitje</p>

        <carousel style="height:320px" class="carousel" [autoplay]="true" [loop]="true" [cellsToScroll]="32" [cellsToShow]="3" [autoplayInterval]="3000">
            <div class="carousel-cell" *ngFor="let sellProd of sellingProducts">
                <app-product-card [product]="sellProd"></app-product-card>
            </div>
        </carousel>
    </div>
</div>
