.contact-details {
  background-color: white;
  width: 1170px;
  border-radius: 5px;
  margin: 30px auto;
  min-height: 100%;
}

.title p {
  padding: 30px;
  font-size: 18px;
}

.row {
  padding: 15px 30px;
}
