:host {
    display: flex;
    flex: 1;
}

.wrapper {
    width: 1200px;
}

.card-list {
    width: 100%;
}

.card {
    display: inline-block;
}

::ng-deep {
    .product-card {
        // height: 370px !important;

        .wrapper {
            width: 400px !important;
            height: 316px !important;
        }

        .details {
            display: flex;
            justify-content: space-between;
            width: 100% !important;
            height: 100%;
            align-items: center;
        }

        h3 {
            font-size: 14px;
            margin: 5px 0;
        }
    }
}