:host {
  display: flex;
  flex: 1;
}

.wrapper {
  background-color: white;
  margin-top: 30px;
}

.card-list {
  width: 100%;
}

.card {
  display: inline-block;
}

::ng-deep {
  .product-card {

    .wrapper {
      width: 390px !important;
    }

    .details {
      display: flex;
      justify-content: space-between;
      width: 100% !important;
      height: 100%;
      align-items: center;
    }

    h3 {
      font-size: 14px;
      margin: 5px 0;
    }
  }
}
.no-product {
  padding: 30px;
}

@media screen and (max-width: 900px) {
  .card-list {
    text-align: center;
  }
}