<div class="about-us">
  <div class="wrapper">
    <div class="text">
      <p class="title">Per ne</p>
      <p class="desc">{{configs.about_us}}</p>
    </div>

    <div>
      <div class="team">
        <div class="team-member-title">
          <p>Ekipa Jone</p>
        </div>

        <div class="team-members">
          <div class="cards">
            <div class="card">
              <div class="image" style="background-image: url('/assets/images/team/blerina.jpeg')"></div>
              <p class='name'>Blerina Rafuna</p>
              <p class="position">Coordinator & Admin Manager</p>
            </div>

            <div class="card">
              <div class="image" style="background-image: url('/assets/images/team/ediola.jpeg')"></div>
              <p class='name'>Ediola Mehmedi</p>
              <p class="position">Sales Agent</p>
            </div>

            <div class="card">
              <div class="image" style="background-image: url('/assets/images/team/beni.jpeg')"></div>
              <p class='name'>Benjamin Çollakoviq</p>
              <p class="position">Sales Agent</p>
            </div>

            <div class="card">
              <div class="image" style="background-image: url('/assets/images/team/krenari.jpeg')"></div>
              <p class='name'>Krenar Haxhani</p>
              <p class="position">Graphic Designer</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <app-map></app-map>
</div>
