@import '~src/scss/theme';

:host {
  width: 100%;
  z-index: 99;
}

p {
  color: #fff;
}

.footer {
  position: relative;
  width: 100%;
  background-color: #000;

  &-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.3;
    background-image:url("https://ar-prishtine.s3.eu-central-1.amazonaws.com/small_mitro_compressed_2_56891d2aff.jpeg?53400.300000000745");
    background-position: center;
    background-repeat: repeat-x;
  }

  .top {
    display: flex;

    .logo {
      img {
        width: 180px;
      }
    }

    .images {
      position: relative;
    }

    a {
        vertical-align: top;
        z-index: 9999;
        width: 40px;
        height: 40px;
        display: inline-block;
        position: relative;

      * {
        vertical-align: top;
        position: absolute;
        left: 0;
      }

      img {
        width: 50px;
      }

      span {
        font-size: 30px;
        padding: 10px;
        color: #fff;
      }
    }
  }

  .top-content {
    display: flex;
    padding: 50px 0 10px 0;
    border-bottom: 1px solid white;

    .logo, .images {
      width: 50%;
    }

    .images {
      text-align: right;
    }
  }

  .bottom {
    padding: 15px 30px;
  }
}
