<div class="product-card" *ngIf="product">
    <div class="wrapper">
        <div class="container">
          <div (click)="navigateToDetails(product.id)" class="top pointer" *ngIf="product.product_files && product.product_files.length && product.product_files[0].fileData.formats.small"
              [ngStyle]="{ 'background-image': 'url(' + product.product_files[0].fileData.formats.small.url + ')'}"></div>

          <div (click)="navigateToDetails(product.id)" class="top pointer" *ngIf="product.product_files && product.product_files.length && !product.product_files[0].fileData.formats.small"
          [ngStyle]="{ 'background-image': 'url(' + product.product_files[0].fileData.formats.thumbnail.url + ')'}"></div>

          <div class="bottom">
            <div class="left">
              <div class="details">
                <h3 (click)="navigateToDetails(product.id)" class="pointer">{{product.title}}</h3>
                <p *ngIf="product.price">{{product.price}} €</p>
                <p *ngIf="!product.price">--</p>
              </div>
              <!-- <div class="buy"><i class="material-icons">add_shopping_cart</i></div> -->
            </div>
            <div class="right">
              <div class="done"><i class="material-icons">done</i></div>
              <div class="details">
                <h1>{{product.title}}</h1>
                <p>Added to your cart</p>
              </div>
              <div class="remove"><i class="material-icons">clear</i></div>
            </div>
          </div>
        </div>
        <div class="inside">
          <div class="icon"><i class="material-icons">info_outline</i></div>
          <div class="contents">
            <table>
              <tr>
                <th>Rooms</th>
                <th>M2</th>
              </tr>
              <tr>
                <td>{{product.rooms}}</td>
                <td>{{product.m2}}</td>
              </tr>
              <tr>
                <th>Adresa</th>
              </tr>
              <tr>
                <td>{{product.address}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
</div>
