@import '~src/scss/theme';

:host {
  width: 100%;
  z-index: 999999;
  position: fixed;
}

.header-fixed {
  z-index: 99999;
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  height: 60px;
  -webkit-box-shadow: 0 7px 30px -14px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 7px 30px -14px rgba(0,0,0,0.75);
  box-shadow: 0 7px 30px -14px rgba(0,0,0,0.75);
  background-color: white;
}

.open-menu {
  font-weight: 500;
}

a {
  margin-right: 37px;
  border: none;
  font-weight: 500;
}

.left-side {
  display: flex;
}

.logo-plc {
  display: flex;
  align-items: center;

  img {
    max-width: 140px;
    min-width: 140px;
  }
}

.right-side {
  display: flex;
  align-items: center;

  nav {
    display: flex;
    align-items: center;

    a {
      margin-right: 45px;
    }
  }
}


@media screen and (max-width: 1050px) {
  .header-user {
    height: auto;
    padding: 10px 0;
    flex-direction: column;

    img {
      max-width: 120px;
      min-width: 120px;
    }

    .left-side {
      padding: 10px 0;
    }
  
    .left-side, .right-side {
      width: 100% !important;
      justify-content: center;
    }
  
    .right-side {
      display: block;
      width: 100%;
  
      .links {
        display: block;     
        width: 100%;
        text-align: center;
        padding: 0 15px;
  
        
        a {
          margin: 0;
          padding: 0 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 870px) {
  .header-fixed {
    height: auto;
    padding: 10px 30px;

    img {
      max-width: 120px;
      min-width: 120px;
    }

    .right-side {
      width: 70%;
    }
  }
}

@media screen and (max-width: 600px) {
  .header-fixed {
    padding: 10px 0;
    flex-direction: column;
  }

  .left-side {
    padding: 10px 0;
  }

  .left-side, .right-side {
    width: 100% !important;
    justify-content: center;
  }

  .right-side {
    overflow-x: auto;
    display: flex;
    justify-content: center;

    .links {
      justify-content: space-between;
      display: flex;     
      width: 100%;
      padding: 0 15px;

      
      a {
        margin: 0;
      }
    }
  }
}